"*":
  core:
    telemetryConsent: "no"
  "exception-reporting":
    userId: "b464731c-9c77-4842-8f9a-ee8dbfec5062"
  welcome:
    showOnStartup: false
".clojure.source":
  editor:
    showIndentGuide: true
